/* ----------------general---------------- */
body {
  /* No borders at all !! */
  margin: 0;  

  padding-bottom: 20px;
  font-family: "Open Sans",sans-serif;
  background-color: #EEEEEE;
  /* background-color: white; */

}

h1{
  font-size:63px
}

h2 {
  border-bottom: medium solid #ff0000 ;
}

h3 {
  border-bottom: thin solid #ff0000;
}

a{
  color: brown;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* ----------------end general---------------- */

.stickytop {
  max-width:100%;
  /* background-color: #EEEEEE; */
  /* background-color: white; */
  position: -webkit-sticky; /*  Making it sticky ! */
  position: sticky;
  top: 0;
  /* border-style: outset; */
}


/* ----------------------------HEADER---------------------------- */
.topnav {
  max-width:100%;
  background-color: #222222; /* black; */
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  position: -webkit-sticky; /*  Making it sticky ! */
  position: sticky;
  top: 0;
}


.topnav a {
  float: left;
  color: #9C9D9D; /* pale */
  text-decoration: none;
  text-align: center;
  padding-right: 25px;
  font-size: 20px;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: #FFFFFD;   /* white; */
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #FFFFFD; /* white; */
}


.menu{
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #EEEEEE;

  /* border-style: outset; */
}

details > summary:hover{
  color: gray;
  cursor: pointer;
}


/* ----------------------------END HEADER----------------------------  */

/* --------------container and padding -------------- */

.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

/*as soon as reasonable, some margin*/
@media (min-width:680px){.container{width:670px}
}

/*if screan big enough, all in one line*/
@media (min-width:880px){.container{width:860px}
} 

/*if very big screan, bo not extend 1000px*/
@media (min-width:1200px){.container{width:1000px}
}


/* --------------end container and padding --------------*/



ul.space_list li {
  margin-left: -35px;
  margin-bottom: 10px;
}

ul li {
  margin-top: 10px;
}
ul{
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
.hidden:target {
  display: inline-block;
  scroll-margin-top: 2000px;
}


/*-------------------- for the buttons to expend info--------------------*/
/* Better with summary / details */

.hh {
  display: none;
  /*height: 100px;
  background: red;*/
}
:checked ~ .hh{
  display: block;
  /* text-align: justify;
  text-justify: inter-word; */
  /* font-style:italic; */
}

.label{
}
.link{
  /* color:#000; */
  /* font-size:large; */
}

label:hover {
  color:#aaa;
  cursor:pointer;
}


/* --------------------end buttons--------------------*/


/* copypast */

table.bottom th, table.bottom td {
  text-align: left;
  vertical-align: top;
  border:1px solid black;
  width: 100%;
  /* border-collapse: collapse; */
}

table.bottom th, table.bottom td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  border:1px solid black;
  /* border-collapse: collapse; */
}

table.top th, table.top td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  /* border:1px solid black; */
  display: inline-block;
  /* border-collapse: collapse; */
}
@media (max-width: 1000px) {
  /* table.top tr {display: block; } */
  table.top td {word-break: break-all; }
}



/* -------------------------TEST------------------------- */
.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
