.enseignement {
    display: none;
}
.enseignement:target {
    display: block;
}

.blank{
 display: none;
}

a{
    color: brown;
}

a:hover {
    color: red;
}

/* from university */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans",sans-serif;
}
td, th {
	padding:3px 5px;
}
h1.titrePrincipal {
  margin-left: 1.0em;
}

.container-fluid {
	padding-left:4.0em;
}
/* a{
	color: #352F95;
}
a:hover, a:focus{
	color: #352F95;
} */

/* end university */


.centered {
  /* position: absolute; */
  /* top: 10%; */
  /* left: 50%; */
  transform: translate( 0%, 40%);
  /* text-align: center; */
  font-size: 15px;
}

ul.space_list li { margin-bottom: 10px; }



/* for the buttons to expend info*/
.hh {
  display: none;
  /*height: 100px;
  background: red;*/
}
:checked ~ .hh{
  display: block;
  text-align: justify;
  text-justify: inter-word;
  font-style:italic;
}

.label{
}
.link{
  /* color:#000; */
  /* font-size:large; */
}

label:hover {
  color:#aaa;
  cursor:pointer;
}


/* end buttons*/


/* copypast */

/* link to people webpage */
#sebi {
  https://www.uni-bremen.de/en/theorie/team/profiles/prof-dr-sebastian-siebertz
}

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  /* background-color: #f1f1f1; */
}
.card2 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: left;
  /* background-color: #f1f1f1; */
}
