/* ----------------general---------------- */
body {
  padding-bottom: 20px;
  font-family: "Open Sans",sans-serif;
}

a{
  color: brown;
  text-decoration: none;
}

a:hover {
  color: red;
}
/* ----------------end general---------------- */


/* ----------------------------HEADER---------------------------- */
.topnav {
  background-color: #222222; /* black; */
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
}

.topnav a {
  float: left;
  color: #9C9D9D; /* pale */
  text-decoration: none;
  text-align: center;
  padding-right: 25px;
  font-size: 20px;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: #FFFFFD;   /* white; */
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #FFFFFD; /* white; */
}
/* ----------------------------END HEADER----------------------------  */


/* ---------------------- BOTTOM ---------------------- */
.last{
  background-color: white;

}
/* ----------------------END BOTTOM---------------------- */



/* --------------container and padding -------------- */

.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

@media (min-width:768px){.container{width:750px}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:1170px}
}

.jumbotron .container{max-width:100%}
.jumbotron .h1,.jumbotron h1{font-size:63px}

.jumbotron{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #EEEEEE;
}

/* --------------end container and padding --------------*/




ul.space_list li {
  margin-bottom: 10px;
}



/*-------------------- for the buttons to expend info--------------------*/
.hh {
  display: none;
  /*height: 100px;
  background: red;*/
}
:checked ~ .hh{
  display: block;
  text-align: justify;
  text-justify: inter-word;
  font-style:italic;
}

.label{
}
.link{
  /* color:#000; */
  /* font-size:large; */
}

label:hover {
  color:#aaa;
  cursor:pointer;
}


/* --------------------end buttons--------------------*/


/* copypast */

/* link to people webpage */
#sebi {
  https://www.uni-bremen.de/en/theorie/team/profiles/prof-dr-sebastian-siebertz
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  /* background-color: #f1f1f1; */
}
.card2 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: left;
  /* background-color: #f1f1f1; */
}

.block{

}


/* -------------------------TEST------------------------- */
.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
